:root {
    --background-color: #000;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'RocknRoll One', sans-serif;
}

button:focus {
    outline: none;
}

body {
    height: 89.5vh;
    background: #000000cc;
    background-image: url("images/greenGrass.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: fixed;
    max-width: 800px;
    margin: auto;
}

footer {
    font-size: .5rem;
    color: #ffffff77;
    position: fixed;
    bottom: 0;
    left: 0;    
    text-align: center;
    width: 100vw;
}

footer a {
    color: #ffffff99;
}

.hidden {
    display: none;
}

.head {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: .75rem auto 1.5rem auto;
    padding: 0 .5rem;
}

.head h4 {
    color: #fff;
}

.info-head {
    width: 25%;
    margin-left: .5rem;
    padding: .25rem 1rem;
    min-height: 3rem;
    text-align: center;
    background: #003300;
    height: 4.2rem;
    color: #76ff03;
    border: 3px solid #fff;
}

.info-head p {
    color : #f0f0f0;
    font-size: .8rem;
}


/* Box */
.box {
    display: flex;
    flex-direction: column;
    margin: .25rem .75rem;
    border: 3px solid rgba(255, 255, 255, 0.301);
    border-radius: 1.5rem 1.5rem .25rem .25rem;
    background: #054FDC;
    background: #AD2923;
    box-shadow: 0 0 10rem .5rem #000;
}

.box-head {
    border-radius: 1.5rem 1.5rem .25rem .25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    padding: 0 .5rem;
    font-size: 1.1rem;
    background-color: #37700249;
    color: white;
}

.name {
    color: #fff;
    margin-left: .5rem;
}

.price {
    font-size: .8rem;
    margin-right: .5rem;
}

.price::before {
    content: "Cost ";
    font-size: .55rem;
    font-weight: 150;
    color: rgba(255, 255, 255, 0.6);
}

.box-body {
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    padding: .75rem;
}

.box-body img {
    width: 3rem;
    padding: .25rem;
    border-radius: 50%;
}

.img-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: #f7b604;
}

.value {
    font-weight: 150;
    font-size: .8rem;
    color: #fff;
}

.value::before {
    content: "Build : ";
    font-size: .55rem;
}

.faster-btn {
    position:relative;
    cursor: pointer;
    padding: .05rem .25rem;
    border-radius: .2rem;
    border: none;
    box-shadow: 0px 2px 0px #888888;
} 

.faster-btn:active {
    box-shadow: 0px .5px 0px #888888;
    position:relative;
    top:1.5px;
}

.button {
    position: relative;
    width: 5rem;
    margin: .25rem;
    padding: .15rem 0.15rem;
    background-color: #dfab1c;
    color: rgba(0, 0, 0, 0.774);
    border: 1px solid #916b03;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    box-shadow: -1px 3px 0px #916b03;
}

.button:active {
    box-shadow: -.25px 1px 0px #916b03;
    position:relative;
    top:2px;
}

/* Progress Bar */
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    margin-right: .25rem;
    box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.progress-bar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.progress-bar div p {
    color : rgba(0, 0, 0, 0.6);
}
.progress-bar div h4 {
    color : #000;
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #f7b604;
    border-radius: 3px;
    animation-name: progress;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-duration: 4s; */
}

.bar-people-fill {
    display: block;
    height: 22px;
    background-color: #76ff03;
    border-radius: 3px;
    animation-name: progress;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}